.Logo{
    color: azure;
    font-size: 50px;
    font-family: 'Almarai', sans-serif;
}
.navBar{
    background-color: rgb(152, 33, 33);
}
.searchButton{
    background-color: transparent;
    margin-right: 10px;
    border-radius: 10px;
}


.searchButton:hover{
    background-color: black;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
}

.moviesContainer{
    border: 1px solid white;
    margin-top: 80px;
    height: 1600px;
    width: 1400px;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-right: -45px;
}

.titleCard{

 display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.textCard{
 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;   
}